<div class="transparentDiv" id="nutritionFacts">
<h1 style="text-decoration: underline;"> <%= name[0].toUpperCase() + name.substring(1) %></h1>

<img src=" <%= photo %> " height="120px">
<p>
   <b>Serving Size:</b> <%= servingsz %> <%= servingut %> <b>/</b> <%= servingGrams %>g <br>
   <b>Calories: </b><%= calories %>g <br>
   <b>Total Fat: </b> <%= fat %>g <br>
   <b>Cholesterol: </b> <%= cholesterol %>mg <br>
   <b>Sodium: </b><%= sodium %>mg <br> 
   <b>Total Carbohydrates: </b> <%= carbs %>g <br> 
   <b>Sugar: </b> <%= sugar %>g  <br>
   <b>Protein: </b> <%= protein %>g <br> 
</p>   

 <form method="POST" action="/favorites/addFave">
    <input hidden type="text" name="food_name" value='<%= name %>'>
    <input hidden type="text" name="photo" value='<%= photo %>'>
    <input hidden type="text" name="serving_qty" value='<%= servingsz %>'>
    <input hidden type="text" name="serving_unit" value='<%= servingut %>'>
    <input hidden type="text" name="serving_weight_grams" value='<%= servingGrams %>'>
    <input hidden type="text" name="nf_calories" value='<%= calories %>'>
    <input hidden type="text" name="nf_total_fat" value='<%= fat %>'>
    <input hidden type="text" name="nf_cholesterol" value='<%= cholesterol %>'>
    <input hidden type="text" name="nf_sugars" value='<%= sugar %>'>
    <input hidden type="text" name="nf_protein" value='<%= protein %>'>
    <button class="submitButton" type="submit">Add to Favorites</button>
</form>
</div>
