<div style="margin-top: 2%;" class="transparentDiv">
<form method="POST" action="/meal/<%= mealId %>/?_method=PUT">
    <div class="form-group">
       <label for="name">Meal Name</label>
       <input type="text" class="form-control" id="name" name="name" value="<%=  meal.name %>" required>
    </div>
    
    <!-- <div class="form-group">
      <label for="ingredients">Ingredients</label>
      <select name="ingredients" id="ingredients" class="form-control"  multiple>
      <% // ingredient.forEach(ingredient => { %>
         <option value="<%= //ingredient.food_name %>"><%= //ingredient.food_name %> </option>
     <% // }) %>
   </select>  -->
    <div class="form-group">
       <label for="content">Notes</label>
       <input type="text" class="form-control" id="content" name="content" value="<%= meal.content %>" >
    </div>
    
    <input class="submitButton" type="submit" value="Update Meal">
    
    </form>
   </div>